mat-raised-button{
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  pointer-events: none; /* Impede que o elemento bloqueie cliques em outros elementos */
  z-index: 9999; /* Certifica-se de que a animação apareça acima de outros elementos */
}
