<div class="container">
  <div class="banner">
    <app-banner></app-banner>
  </div>
  <div class="card-container">
    <div class="card-row">
      <app-card envelopeImage="assets/img/paintball2.png" figurinhaImage="assets/img/Maskpaintaball1.png" figurinhaAlt="Figurinha 1" titulo="Arcade" subtitulo="156 gramas"></app-card>
      <app-card envelopeImage="assets/img/paintball3.png"   figurinhaImage="assets/img/Maskpaintaball2.png" figurinhaAlt="Figurinha 2" titulo="Esporte" subtitulo="120 gramas"></app-card>
    </div>
    <div class="card-row">
      <app-card envelopeImage="assets/img/paintball4.png" figurinhaImage="assets/img/Maskpaintaball3.png"  figurinhaAlt="Figurinha 3" titulo="Natureza" subtitulo="200 gramas"></app-card>
      <app-card envelopeImage="assets/img/paintball5.png"  figurinhaImage="assets/img/Maskpaintaball4.png"  figurinhaAlt="Figurinha 4" titulo="Animais" subtitulo="180 gramas"></app-card>
    </div>
  </div>
</div>
