<mat-toolbar class="custom-navbar">
  <mat-toolbar-row class="navbar-row">
    <span class="logo">Logo</span>
    <div class="flex-spacer"></div>
    <div class="search-input">
      <mat-icon class="lupa-icon">search</mat-icon>
      <input matInput placeholder="Pesquisar">

    </div>
    <span class="flex-spacer"></span>
    <button mat-fab extended class="custom-button" routerLink="register">sign-up</button>
    <button mat-fab extended class="custom-button">login</button>
    <mat-icon class="icon">favorite</mat-icon>
    <mat-icon class="icon">shopping_bag</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
