.banner {
  float: left;
  margin-right: 20px;
  position: relative;


}
.banner-button {
  width: 25%;
  height: 10%;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 3px solid #fff;
  border-radius: 35px;
  position: absolute;
  top: 70%;
  left: 20%;
  transform: translate(-50%, -50%);



}


