.banner {
  width: 400px; 
  height: 200px;
  position: absolute;
  top: 20%;
  left: 27%;
  transform: translate(-50%, -50%);
}

.banner-button {
  width: 65%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 3px solid #fff;
  border-radius: 40px;
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
}

