<mat-toolbar class="footer">
  <div class="column">
    <div class="logo-container">
      <img src="logo.png" alt="Logo">
    </div>
    <div class="lema">Sinta a adrenalina.
      Domine o campo de batalha.</div>
  </div>
  <div class="column">
    <h4>About</h4>
    <ul class="links">
      <li><a href="#">Games</a></li>
      <li><a href="#">Cards and Points</a></li>
      <li><a href="#">Subscriptions</a></li>
      <li><a href="#">DLC</a></li>
      <li><a href="#">Software</a></li>
    </ul>
  </div>
  <div class="column">
    <h4>Ours Products</h4>
    <ul class="links">
      <li><a href="#">Games</a></li>
      <li><a href="#">Cards and Points</a></li>
      <li><a href="#">Subscriptions</a></li>
      <li><a href="#">DLC</a></li>
      <li><a href="#">Software</a></li>

    </ul>
  </div>
  <div class="column">
    <h4>Follw Us</h4>
    <ul class="links">
      <li><a href="#">Games</a></li>
      <li><a href="#">Cards and Points</a></li>
      <li><a href="#">Subscriptions</a></li>
      <li><a href="#">DLC</a></li>
      <li><a href="#">Software</a></li>
    </ul>
  </div>
</mat-toolbar>
